<!DOCTYPE html>
<html>
  <head>
    <title>What is Taylor Guitar</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<meta name="viewport" content="width=device-width,initial-scale=1" /> スマホ対応のため必要?-->
    <meta name="description" content="世界的に有名なテイラーギターの紹介ページです。一生ものになるテイラーギターの魅力を感じてください。" />
    <!--<link rel="icon" href="画像URL" sizes="16x16" type="image/png" /> -->
    <!--<link rel="icon" href="画像URL" sizes="32x32" type="image/png" />  -->
    <!--<link rel="icon" href="画像URL" sizes="48x48" type="image/png" /> -->
    <!--<link rel="icon" href="画像URL" sizes="62x62" type="image/png" /> お気に入りした時の画像-->
    <!--<link rel="apple-touch-icon-precomposed" href="画像のURL" /> スマホ用のお気に入り画像-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
